<aside class="sidebar">
    <div class="sidebar-content">
        <div class="sidebar-header">
            <%= image_tag ('personality-test-logo.png'), class: "h-12 w-auto" %>
           Introvert or Extrovert
            <p></p>
        </div>
        
    </div>
</aside>

