/* MOBILE AND TABLET VIEWS */
@media screen and (max-width: 1020px) {
    body{
        /* background-color: aqua; */
    }

    .playground{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* sidebar */
    .sidebar{width: 100vw;top:0;height:150px}
    .mobile-progress-bar{width:70vw;}
    /* Form styling */
    .questions-container{
        padding:5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100dvh;
        margin-top: 65rem;
      }
    .question-container h3{width:20rem;margin-bottom: 2rem;}

    .option-container{display:flex;justify-content:center;flex-direction: column; gap:10px;}
    .option{height:8rem;width:20rem;}
}